# 제주 날씨, 인구에 따른 교통량데이터

## 효율적인 교통량 측정을 위한 날씨유동인구 활용 교통량 데이터

https://www.data.go.kr/data/15074777/fileData.do?recommendDataYn=Y

![image](../../Images/Jeju.png)

### Library & Data Import

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../Datasets/Jeju.csv', encoding='euc-kr')

#### 데이터의 마지막 3개 행을 출력하라.

In [3]:
df.tail(3)

,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,교통량,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속,데이터기준일자
32066,2020-04-28,제주시,화북동,588189.415,42228.414,196053.574,826471.404,1306.324,36.676,30.971,11.367,0.0,3.067,2020-12-15
32067,2020-04-29,제주시,화북동,581854.765,41445.253,198362.285,821662.304,1318.000,36.765,30.853,12.767,0.0,2.467,2020-12-15
32068,2020-04-30,제주시,화북동,590532.552,29199.649,204839.107,824571.308,1078.853,37.206,30.235,15.967,0.0,2.800,2020-12-15

#### 수치형 변수를 가진 컬럼을 출력하라.

In [4]:
numerical = df.select_dtypes(exclude=object).columns

print(numerical)

Index(['거주인구', '근무인구', '방문인구', '총 유동인구', '교통량', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

#### 범주형 변수를 가진 컬럼을 출력하라.

In [5]:
categorical = df.select_dtypes(include=object).columns

print(categorical)

Index(['일자', '시도명', '읍면동명', '데이터기준일자'], dtype='object')

#### 각 컬럼의 결측치 갯수를 파악하라.

In [6]:
df.isnull().sum()

일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
교통량         0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
데이터기준일자     0
dtype: int64

#### 각 컬럼의 데이터 수, 데이터 타입을 한번에 확인하라.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32069 entries, 0 to 32068
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   일자        32069 non-null  object
 1   시도명       32069 non-null  object
 2   읍면동명      32069 non-null  object
 3   거주인구      32069 non-null  float64
 4   근무인구      32069 non-null  float64
 5   방문인구      32069 non-null  float64
 6   총 유동인구    32069 non-null  float64
 7   교통량       32069 non-null  float64
 8   평균 속도     32069 non-null  float64
 9   평균 소요 시간  32069 non-null  float64
 10  평균 기온     32069 non-null  float64
 11  일강수량      32069 non-null  float64
 12  평균 풍속     32069 non-null  float64
 13  데이터기준일자   32069 non-null  object
dtypes: float64(10), object(4)
memory usage: 3.4+ MB

#### 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대, 최소)를 확인하라.

In [8]:
df.describe()

,거주인구,근무인구,방문인구,총 유동인구,교통량,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
count,3.206900e+04,32069.000000,32069.000000,3.206900e+04,32069.000000,32069.000000,32069.000000,32069.000000,32069.000000,32069.000000
mean,3.175184e+05,35704.876966,196060.490038,5.492838e+05,373.998849,41.103863,37.219924,13.539484,7.272970,2.742722
std,2.981623e+05,40685.484971,140630.105978,4.610745e+05,532.127805,8.723294,12.980117,7.748266,28.488733,1.477822
min,9.305552e+03,1172.448000,10788.381000,2.225181e+04,0.000000,23.545000,12.667000,-11.600000,0.000000,0.000000
25%,9.495149e+04,12183.457000,99873.546000,2.223599e+05,0.000000,34.250000,27.889000,7.600000,0.000000,1.733000
50%,2.220141e+05,21833.494000,153072.855000,3.886540e+05,41.739000,39.642000,34.500000,13.300000,0.000000,2.400000
75%,4.101999e+05,40272.125000,236052.947000,6.411785e+05,637.600000,49.105000,46.188000,19.700000,1.500000,3.400000
max,1.364504e+06,272224.930000,786387.113000,2.079278e+06,2301.500000,103.000000,172.200000,30.400000,587.500000,17.700000

#### 거주인구 컬럼의 값들을 출력하라

In [9]:
df['거주인구']

0        291408.897
1        290944.660
2        287121.506
3        279036.104
4        287205.972
            ...
32064    609825.951
32065    590585.828
32066    588189.415
32067    581854.765
32068    590532.552
Name: 거주인구, Length: 32069, dtype: float64

#### 평균 속도 컬럼의 4분위 범위(IQR) 값을 구하라.

In [10]:
df['평균 속도'].quantile(0.75) - df['평균 속도'].quantile(0.25)

14.854999999999997

#### 읍면동명 칼럼의 유일값 갯수를 구하여라.

In [11]:
df.읍면동명.nunique() # df['읍면동명'].nunique()

41

#### 읍면동명 컬럼의 유일값을 모두 출력하라

In [12]:
df.읍면동명.unique()

array(['남원읍', '대륜동', '대정읍', '대천동', '동홍동', '서홍동', '성산읍', '송산동', '안덕면',
       '영천동', '예래동', '정방동', '중문동', '중앙동', '천지동', '표선면', '효돈동', '건입동',
       '구좌읍', '노형동', '도두동', '봉개동', '삼도1동', '삼도2동', '삼양동', '아라동', '애월읍',
       '연동', '오라동', '외도동', '용담1동', '용담2동', '이도1동', '이도2동', '이호동', '일도1동',
       '일도2동', '조천읍', '한경면', '한림읍', '화북동'], dtype=object)