# Pandas_Datetime

In [1]:
# 패키지 불러오기
import pandas as pd # Pandas
import numpy as np # Numpy

## Datetime Handling

###  1. Datetime형

In [2]:
# 데이터프레임 생성
obj = {'대학이름' : ['서울대학교', 'KAIST', 'UNIST', '포항공과대학교', '고려대학교', 'GIST', '건국대학교', '울산대학교','부산대학교'],
        '창립일' : ['1946-10-15', '1971-02-16', '2007-09-03', '1986-12-03', '1905-05-05', '1993-11-17', '1946-05-15', '1969-12-24', '1946-05-15']
       }

df = pd.DataFrame(obj)

df

      대학이름         창립일
0    서울대학교  1946-10-15
1    KAIST  1971-02-16
2    UNIST  2007-09-03
3  포항공과대학교  1986-12-03
4    고려대학교  1905-05-05
5     GIST  1993-11-17
6    건국대학교  1946-05-15
7    울산대학교  1969-12-24
8    부산대학교  1946-05-15

In [3]:
# 날짜 형태인 문자열
df['창립일']

0    1946-10-15
1    1971-02-16
2    2007-09-03
3    1986-12-03
4    1905-05-05
5    1993-11-17
6    1946-05-15
7    1969-12-24
8    1946-05-15
Name: 창립일, dtype: object

In [4]:
# pandas.to_datetime()
# 문자열 -> datetime형
pd.to_datetime(df['창립일']) # 구문 분석 자동

0   1946-10-15
1   1971-02-16
2   2007-09-03
3   1986-12-03
4   1905-05-05
5   1993-11-17
6   1946-05-15
7   1969-12-24
8   1946-05-15
Name: 창립일, dtype: datetime64[ns]

In [5]:
# 문자열 -> datetime형
pd.to_datetime(df['창립일'], format = '%Y-%m-%d') # '네자리연도-월-일'로 구문 분석

0   1946-10-15
1   1971-02-16
2   2007-09-03
3   1986-12-03
4   1905-05-05
5   1993-11-17
6   1946-05-15
7   1969-12-24
8   1946-05-15
Name: 창립일, dtype: datetime64[ns]

In [6]:
# 기존의 창립일 열을 datatime형을 변환
df['창립일'] = pd.to_datetime(df['창립일'])

In [7]:
# 시계열생성
# 2000년 1월 1일부터 2000년 1월 10일까지 1일 단위로 생성
pd.date_range("2000-01-01", "2000-01-10")

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

In [8]:
# 2000년 1월 1일부터 1일씩 증가(3번 반복)
pd.date_range("2000-01-01", periods = 3)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03'], dtype='datetime64[ns]', freq='D')

In [9]:
# 2000년 1월부터 1달씩 증가(5번 반복)
# 각 달의 마지막 날짜가 반환됨(freq = "m")
pd.date_range("2000-01-01", periods = 5, freq = "m")

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31'],
              dtype='datetime64[ns]', freq='M')

### 2. 시계열 데이터 전처리

In [10]:
df['창립일'] = pd.to_datetime(df['창립일'])

# 메소드 dt의 하위 메소드를 통한 날짜와 시간에 대한 정보를 확인
# dt.date : 날짜정보(연월일)
df['창립일'].dt.date

0    1946-10-15
1    1971-02-16
2    2007-09-03
3    1986-12-03
4    1905-05-05
5    1993-11-17
6    1946-05-15
7    1969-12-24
8    1946-05-15
Name: 창립일, dtype: object

In [11]:
# dt.year : 연도
df['창립일'].dt.year

0    1946
1    1971
2    2007
3    1986
4    1905
5    1993
6    1946
7    1969
8    1946
Name: 창립일, dtype: int64

In [12]:
# dt.month : 월
df['창립일'].dt.month

0    10
1     2
2     9
3    12
4     5
5    11
6     5
7    12
8     5
Name: 창립일, dtype: int64

In [13]:
# dt.month_name() : 월이름
df['창립일'].dt.month_name()

0      October
1     February
2    September
3     December
4          May
5     November
6          May
7     December
8          May
Name: 창립일, dtype: object

In [14]:
# dt.day : 일
df['창립일'].dt.day

0    15
1    16
2     3
3     3
4     5
5    17
6    15
7    24
8    15
Name: 창립일, dtype: int64

In [15]:
# dt.weekday : 요일번호
df['창립일'].dt.weekday

0    1
1    1
2    0
3    2
4    4
5    2
6    2
7    2
8    2
Name: 창립일, dtype: int64

In [16]:
# dt.day_name() : 요일이름
df['창립일'].dt.day_name()

0      Tuesday
1      Tuesday
2       Monday
3    Wednesday
4       Friday
5    Wednesday
6    Wednesday
7    Wednesday
8    Wednesday
Name: 창립일, dtype: object

In [17]:
# dt.quarter : 분기
df['창립일'].dt.quarter

0    4
1    1
2    3
3    4
4    2
5    4
6    2
7    4
8    2
Name: 창립일, dtype: int64

In [18]:
# weekofyear : 연도기준 주
df['창립일'].dt.isocalendar().week

0    42
1     7
2    36
3    49
4    18
5    46
6    20
7    52
8    20
Name: week, dtype: UInt32

In [19]:
# dayofyear : 연도기준 일
df['창립일'].dt.dayofyear

0    288
1     47
2    246
3    337
4    125
5    321
6    135
7    358
8    135
Name: 창립일, dtype: int64

In [20]:
# daysinmonth : 해당 월의 총 일수
df['창립일'].dt.daysinmonth

0    31
1    28
2    30
3    31
4    31
5    30
6    31
7    31
8    31
Name: 창립일, dtype: int64

In [21]:
# 2022-06-01 16:30:05부터 1초씩 증가(10번 반복)하는 시계열 생성
sr  = pd.Series(pd.date_range("2022-06-01 16:30:05", periods  = 5, freq = "s"))
sr

0   2022-06-01 16:30:05
1   2022-06-01 16:30:06
2   2022-06-01 16:30:07
3   2022-06-01 16:30:08
4   2022-06-01 16:30:09
dtype: datetime64[ns]

In [22]:
# dt.time : 시간정보(시분초)
sr.dt.time

0    16:30:05
1    16:30:06
2    16:30:07
3    16:30:08
4    16:30:09
dtype: object

In [23]:
# dt.hour : 시
sr.dt.hour

0    16
1    16
2    16
3    16
4    16
dtype: int64

In [24]:
# dt.minute : 분
sr.dt.minute

0    30
1    30
2    30
3    30
4    30
dtype: int64

In [25]:
# dt.second : 초
sr.dt.second

0    5
1    6
2    7
3    8
4    9
dtype: int64