# Credit Card customers

## Predict Churning customers

https://www.kaggle.com/datasets/sakshigoyal7/credit-card-customers

![image](../../../Images/CreditCard.png)

### Library & Data Import

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../../Datasets/CreditCard.csv')

#### 데이터를 로드하고 데이터 행과 열의 갯수를 출력하라.

In [3]:
df.shape

(10127, 23)

#### Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라. 
- Unknown : N
- Less than $40K : a 
- \\$40K - \\$60K : b 
- \\$60K - \\$80K : c 
- \\$80K - \\$120K : d 
- \\$120K + : e

In [4]:
dic = {
    'Unknown'        : 'N',
    'Less than $40K' : 'a',
    '$40K - $60K'    : 'b',
    '$60K - $80K'    : 'c',
    '$80K - $120K'   : 'd',
    '$120K +'        : 'e'   
}

df['newIncome'] = df.Income_Category.map(lambda x: dic[x])

df['newIncome']

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: newIncome, Length: 10127, dtype: object

#### Income_Category의 카테고리를 apply 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라.
- Unknown : N
- Less than $40K : a 
- \\$40K - \\$60K : b 
- \\$60K - \\$80K : c 
- \\$80K - \\$120K : d 
- \\$120K + : e

In [5]:
def changeCategory(x):
    if x =='Unknown':
        return 'N'
    elif x =='Less than $40K':
        return 'a'
    elif x =='$40K - $60K':   
        return 'b'
    elif x =='$60K - $80K':    
        return 'c'
    elif x =='$80K - $120K':   
        return 'd'
    elif x =='$120K +' :     
        return 'e'

df['newIncome'] = df.Income_Category.apply(changeCategory)

df['newIncome']

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: newIncome, Length: 10127, dtype: object

#### Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하라. <br> ( 0\~9 : 0 , 10\~19 : 10 , 20~29 : 20 … ) 각 구간의 빈도수를 출력하라.

In [6]:
df['AgeState'] = df.Customer_Age.map(lambda x: x//10 * 10)

df['AgeState'].value_counts().sort_index()

20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: AgeState, dtype: int64

#### Education_Level의 값중 Graduate단어가 포함되는 값은 1 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고 빈도수를 출력하라.

In [7]:
df['newEduLevel'] = df.Education_Level.map(lambda x : 1 if 'Graduate' in x else 0)

df['newEduLevel'].value_counts()

0    6483
1    3644
Name: newEduLevel, dtype: int64

#### Credit_Limit 컬럼값이 4500 이상인 경우 1 그외의 경우에는 모두 0으로 하는 newLimit 정의하라. newLimit 각 값들의 빈도수를 출력하라.

In [8]:
df['newLimit'] = df.Credit_Limit.map(lambda x : 1 if x >= 4500 else 0)

df['newLimit'].value_counts()

1    5096
0    5031
Name: newLimit, dtype: int64

#### Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하라. <br> newState의 각 값들의 빈도수를 출력하라.

In [9]:
def check(x):
    if x.Marital_Status =='Married' and x.Card_Category =='Platinum':
        return 1
    else:
        return 0


df['newState'] = df.apply(check,axis=1)

df['newState'].value_counts()

0    10120
1        7
Name: newState, dtype: int64

#### Gender 컬럼값 M인 경우 male F인 경우 female로 값을 변경하여 Gender 컬럼에 새롭게 정의하라. 각 value의 빈도를 출력하라.

In [10]:
def changeGender(x):
    if x =='M':
        return 'male'
    else:
        return 'female'
    
df['Gender'] = df.Gender.apply(changeGender)

df['Gender'].value_counts()

female    5358
male      4769
Name: Gender, dtype: int64