# Physical Fitness Center Data

### Korea's Physical Fitness Center Data

https://www.culture.go.kr/bigdata/user/data_market/detail.do?id=c99df919-f2c9-4ceb-999d-82688c028031

![image.png](../../Images/Body.png)

### Library & Data Import

In [3]:
import pandas as pd

In [4]:
body_df = pd.read_csv('../../Datasets/Body.csv')

body_df

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C
...,...,...,...,...,...,...,...,...,...,...,...,...
13391,61.0,M,167.0,65.8,22.2,71.0,130.0,33.7,14.5,37.0,182.0,C
13392,25.0,M,170.7,64.2,22.4,57.0,121.0,32.5,11.8,48.0,196.0,C
13393,47.0,M,166.2,77.5,22.8,84.0,133.0,52.4,11.9,45.0,220.0,B
13394,29.0,M,175.4,74.4,16.1,77.0,124.0,58.4,23.5,48.0,245.0,B
13395,28.0,M,173.8,78.5,17.3,88.0,119.0,50.1,19.9,57.0,237.0,A

#### 전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라.

In [5]:
body_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13396 entries, 0 to 13395
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   측정나이              13396 non-null  float64
 1   측정회원성별            13396 non-null  object
 2   신장 : cm           13396 non-null  float64
 3   체중 : kg           13396 non-null  float64
 4   체지방율 : %          13396 non-null  float64
 5   이완기혈압(최저) : mmHg  13396 non-null  float64
 6   수축기혈압(최고) : mmHg  13396 non-null  float64
 7   악력D : kg          13396 non-null  float64
 8   앉아윗몸앞으로굽히기 : cm   13396 non-null  float64
 9   교차윗몸일으키기 : 회      13396 non-null  float64
 10  제자리 멀리뛰기 : cm     13396 non-null  float64
 11  등급                13396 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.2+ MB

In [8]:
diff = body_df['수축기혈압(최고) : mmHg'] - body_df['이완기혈압(최저) : mmHg']

result = diff.mean()

print(result)

52.19539414750672

#### 50~59세의 신장평균을 구하여라.

In [11]:
body_df[(body_df['측정나이'] >=  50) & (body_df['측정나이'] <= 59)]['신장 : cm'].mean()

164.07490107405295

#### 연령대 (20~29 : 20대 …) 별 인원수를 구하여라.

In [12]:
body_df['연령대']  = body_df['측정나이'] // 10 * 10
result = body_df['연령대'].value_counts()

print(result)

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: 연령대, dtype: int64

#### 연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라.

In [22]:
body_df.groupby(by=['연령대', '등급']).size().to_frame('size')

         size
연령대  등급
20.0 A   1585
     B   1443
     C   1455
     D   1348
30.0 A    743
     B    697
     C    626
     D    594
40.0 A    386
     B    428
     C    455
     D    532
50.0 A    321
     B    410
     C    474
     D    564
60.0 A    314
     B    371
     C    339
     D    311

#### 남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라.

In [31]:
male = body_df['측정회원성별'] == 'M'
a_rank = body_df['등급'] == 'A'
d_rank = body_df['등급'] == 'D'

diff = (body_df[male & a_rank]['체지방율 : %'].mean()) - (body_df[man & d_rank]['체지방율 : %'].mean())

result = print(abs(diff))

7.932086486137457

#### 여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라.

In [36]:
female = body_df['측정회원성별'] == 'F'
a_rank = body_df['등급'] == 'A'
d_rank = body_df['등급'] == 'D'

diff = (body_df[female & a_rank]['체중 : kg'].mean()) - (body_df[female & d_rank]['체중 : kg'].mean())

result = print(abs(diff))

5.176211590296511

#### BMI 는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. <br>데이터의 BMI 를 구한 새로운 컬럼을 만들고 남성의 BMI 평균을 구하여라.

In [43]:
body_df['BMI'] = body_df['체중 : kg'] / (body_df['신장 : cm']/100)**2

body_df

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급,연령대,BMI
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,50.0,23.053061
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B,40.0,17.581601
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B,20.0,27.190328
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A,30.0,27.305324
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C,20.0,24.257046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13391,61.0,M,167.0,65.8,22.2,71.0,130.0,33.7,14.5,37.0,182.0,C,60.0,23.593531
13392,25.0,M,170.7,64.2,22.4,57.0,121.0,32.5,11.8,48.0,196.0,C,20.0,22.032713
13393,47.0,M,166.2,77.5,22.8,84.0,133.0,52.4,11.9,45.0,220.0,B,40.0,28.056899
13394,29.0,M,175.4,74.4,16.1,77.0,124.0,58.4,23.5,48.0,245.0,B,20.0,24.183199
13395,28.0,M,173.8,78.5,17.3,88.0,119.0,50.1,19.9,57.0,237.0,A,20.0,25.987836

In [45]:
result = body_df[(body_df['측정회원성별'] == 'M')]['BMI'].mean()

print(result)

24.461344098193027

#### BMI 보다 체지방율이 높은 사람들의 체중평균을 구하여라.

In [48]:
result = body_df[body_df['BMI'] < body_df['체지방율 : %']]['체중 : kg'].mean()

print(result)

61.740880639254314

#### 남성과 여성의 악력 평균의 차이를 구하여라.

In [49]:
grip_m = body_df[(body_df['측정회원성별'] == 'M')]['악력D : kg'].mean()
grip_w = body_df[(body_df['측정회원성별'] == 'F')]['악력D : kg'].mean()

result = grip_m - grip_w

print(result)

17.559541850474677

#### 남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라.

In [51]:
wkup_m = body_df[(body_df['측정회원성별'] == 'M')]['교차윗몸일으키기 : 회'].mean()
wkup_w = body_df[(body_df['측정회원성별'] == 'F')]['교차윗몸일으키기 : 회'].mean()

result = wkup_m - wkup_w

print(result)

14.243156833157634