# Pokemon with stats

### 721 Pokemon with stats and types

https://www.kaggle.com/datasets/abcsds/pokemon

![image.png](../../Images/Pokemon.png)

### Library & Data Import

In [1]:
import pandas as pd

In [2]:
pokemon_df = pd.read_csv('../../Datasets/Pokemon.csv')

pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라.

In [3]:
legend_pk = pokemon_df[pokemon_df['Legendary'] == True]['HP'].mean()

Normal_pk = pokemon_df[pokemon_df['Legendary'] == False]['HP'].mean()

result = legend_pk - Normal_pk

print(result)

25.55614861329147

#### Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [4]:
result = pokemon_df['Type 2'].value_counts().index[0]

print(result)

Flying

#### 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [5]:
type_pk = pokemon_df['Type 1'].value_counts().index[0]

wa_att = pokemon_df[pokemon_df['Type 1'] == type_pk]['Attack'].mean()
wa_def = pokemon_df[pokemon_df['Type 1'] == type_pk]['Defense'].mean()

result = wa_att / wa_def

print(result)

1.0165238678090576

#### 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [6]:
max_legend = pokemon_df[pokemon_df['Legendary'] == True]['Generation'].value_counts().idxmax()

print(max_legend)

3

#### ‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라.

In [7]:
new_df = pokemon_df[[ 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().reset_index().rename(columns={0: "corr"})
result = new_df[new_df['corr']!=1].sort_values(by=['corr'], ascending=False).iloc[0]

result

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

#### 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라.

In [8]:
pokemon_df.sort_values(by=['Attack']).groupby(by=['Generation']).head(3)['Attack'].mean()

19.5

#### 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라.

In [9]:
pokemon_df.sort_values(by=['Attack'], ascending=False).groupby(by=['Generation']).head(5)['Attack'].mean()

157.23333333333332

#### 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [10]:
pokemon_df[['Type 1', 'Type 2']].value_counts().index[0]

('Normal', 'Flying')

#### 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [11]:
new_df = pokemon_df[['Type 1', 'Type 2']].value_counts()

result = len(new_df[new_df == 1])

print(result)

39