# Power consumption of Tetouan city Data Set

### This dataset is related to power consumption of three different distribution networks of Tetouan city <br> which is located in north Morocco.

https://archive.ics.uci.edu/ml/datasets/Power+consumption+of+Tetouan+city

![image.png](../../Images/TetuanCity.png)

### Library & Data Import

In [1]:
import pandas as pd
import numpy as np

In [2]:
city_df = pd.read_csv('../../Datasets/TetouanCity.csv')

city_df

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

#### DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라.

In [3]:
city_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DateTime                   52416 non-null  object
 1   Temperature                52416 non-null  float64
 2   Humidity                   52416 non-null  float64
 3   Wind Speed                 52416 non-null  float64
 4   general diffuse flows      52416 non-null  float64
 5   diffuse flows              52416 non-null  float64
 6   Zone 1 Power Consumption   52416 non-null  float64
 7   Zone 2  Power Consumption  52416 non-null  float64
 8   Zone 3  Power Consumption  52416 non-null  float64
dtypes: float64(8), object(1)
memory usage: 3.6+ MB

In [4]:
city_df['DateTime'] = pd.to_datetime(city_df['DateTime'])

city_df

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,2017-01-01 00:20:00,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,2017-01-01 00:30:00,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,2017-01-01 00:40:00,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
52411,2017-12-30 23:10:00,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,2017-12-30 23:20:00,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,2017-12-30 23:30:00,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,2017-12-30 23:40:00,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,2017-12-30 23:50:00,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [5]:
result = city_df['DateTime'].dt.month.value_counts().sort_index().to_frame()

result

    DateTime
1       4464
2       4032
3       4464
4       4320
5       4464
6       4320
7       4464
8       4464
9       4320
10      4464
11      4320
12      4320

#### 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라.

In [6]:
march = city_df[city_df['DateTime'].dt.month == 3][['DateTime', 'Temperature']]

march.groupby(by=march['DateTime'].dt.hour)['Temperature'].mean().sort_values().iloc[0]

11.506612903225806

#### 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라.

In [7]:
march = city_df[city_df['DateTime'].dt.month == 3][['DateTime', 'Temperature']]

march.groupby(by=march['DateTime'].dt.hour)['Temperature'].mean().sort_values(ascending=False).iloc[0]

18.393602150537635

#### Zone 1 Power Consumption 컬럼의 value값의 크기가 <br>Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라.

In [8]:
city_df[city_df['Zone 1 Power Consumption'] > city_df['Zone 2  Power Consumption']]['Humidity'].mean()

68.23624448055094

#### 각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라.

In [9]:
city_df[['Zone 1 Power Consumption', 'Zone 2  Power Consumption', 'Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

#### Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라.

In [10]:
def split_data(x):
    if x<10:
        return "A"
    elif x<20:
        return 'B'
    elif x<30:
        return 'C'
    else:
        return 'D'
    
city_df['Count'] = city_df.Temperature.map(split_data)
result = city_df['Count'].value_counts()
result.to_frame()

   Count
B  26993
C  21105
A   2874
D   1444

#### 6월 데이터중 12시의 Temperature의 표준편차를 구하여라.

In [11]:
june = city_df[(city_df['DateTime'].dt.month == 6) & (city_df['DateTime'].dt.hour == 12)][['DateTime', 'Temperature']]

june['Temperature'].std()

2.049941782795103

#### 6월 데이터중 12시의 Temperature의 분산을 구하여라.

In [12]:
june = city_df[(city_df['DateTime'].dt.month == 6) & (city_df['DateTime'].dt.hour == 12)][['DateTime', 'Temperature']]

june['Temperature'].var()

4.202261312849164

#### Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [13]:
temp_mean = city_df['Temperature'].mean()

city_df[city_df['Temperature'] > temp_mean].sort_values(by=['Temperature'])['Humidity'].iloc[3]

87.9

#### Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [14]:
temp_median = city_df['Temperature'].median()

city_df[city_df['Temperature'] > temp_median].sort_values(by=['Temperature'])['Humidity'].iloc[3]

65.97