# World Happiness Report

### Happiness scored according to economic production, social support, etc.

https://www.kaggle.com/datasets/unsdsn/world-happiness

![image.png](../../Images/Happiness.png)

### Library & Data Import

In [1]:
import pandas as pd
import numpy as np

In [2]:
happy_df = pd.read_csv('../../Datasets/Happiness.csv')

In [3]:
happy_df

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

#### 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. <br> 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라.

In [25]:
new_happy = happy_df[happy_df['행복랭킹'] == 10]['점수'].mean()

new_happy

7.259

#### 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. <br> 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라.

In [36]:
result = happy_df[happy_df.행복랭킹<=50][['나라명','년도','점수']].groupby(by=['나라명','년도']).mean()

result

                       점수
나라명           년도
Argentina     2018  6.388
              2019  6.086
Australia     2018  7.272
              2019  7.228
Austria       2018  7.139
...                   ...
United States 2019  6.892
Uruguay       2018  6.379
              2019  6.293
Uzbekistan    2018  6.096
              2019  6.174

[100 rows x 1 columns]

#### 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라.

In [41]:
result = happy_df[(happy_df['년도'] == 2018)][['점수', '부패에 대한인식']].corr().iloc[0,1]

result

0.40529152271510027

#### 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 <br> 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라.

In [195]:
zz = happy_df[happy_df.년도 ==2019].corr().unstack().to_frame().reset_index().dropna()

result = zz[zz[0] !=1].sort_values(0,ascending=False).drop_duplicates(0)
answer = result.head(5).reset_index(drop=True)
answer.columns = ['v1','v2','corr']
display(answer)

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1  상대GDP     점수  0.793883
2  행복기대치     점수  0.779883
3  사회적지원     점수  0.777058
4  사회적지원  상대GDP  0.754906

#### 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라.

In [61]:
new_happy = happy_df.groupby(by=['년도']).tail(5).groupby(by=['년도']).mean()[['점수']]

new_happy

          점수
년도
2018  3.1800
2019  3.1408

#### 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 <br> 행복점수 평균을 각각 구하고 그 차이값을 출력하라.

In [77]:
mean_2019 = happy_df[(happy_df['년도'] == 2019)]['상대GDP'].mean()

mean_up = happy_df[happy_df['상대GDP'] >= mean_2019]['점수'].mean()
mean_down = happy_df[happy_df['상대GDP'] <= mean_2019]['점수'].mean()

In [78]:
result = mean_up - mean_down

result

1.4314282392026554

#### 각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라.

In [130]:
happy_df.sort_values(by=['부패에 대한인식'], ascending=False).groupby(by=['년도']).head(20).groupby(by=['년도']).mean()[['부패에 대한인식']]

      부패에 대한인식
년도
2018    0.3267
2019    0.3201

#### 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라.

In [193]:
result = set(happy_df[(happy_df.년도==2018) & (happy_df.행복랭킹 <=50)].나라명)  -set(happy_df[(happy_df.년도==2019) & (happy_df.행복랭킹 <=50)].나라명)
answer = len(result)

print(answer)

4